.inline-edit {
  margin-top: 4px;
  min-height: 20px;
  box-sizing: border-box;
  width: 100%;
}

.edit-input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  font-family: inherit;
  background-color: rgba(0,0,0,0.05);
  border: none;
  border-left: solid 4px rgba(0,0,0,0);
  outline: none;
  padding: 2px 2px 2px 8px;
}

.edit-input-changed {
  border-left: solid 4px paleturquoise;
}

.inline-edit-editable {
  text-align: left;
}

.inline-edit-read-only-wrapper {
  display: flex;
}

.inline-edit-read-only {
  text-align: left;
}

.actions {
  text-align: left;
}

.link-button {
  margin: 2px 4px;
  font-size: small;
  color: grey;
  cursor: pointer;
}
.link-button:hover {
  color: black;
}

.pull-right {
  float: right;
}

.post-title {
  font-weight: bold;
  color: #545454;
}
