.navbar {
  color: rgba(255,255,255,0.92);
  background-color: #343434;
  padding: 5px;
}

.navbar-logo {
  color: #222222;
  background-color: white;
  padding: 5px;
  padding-left: 8px;
  margin: -5px;
  border-left: solid 6px #0cb6a6;
}

.navbar-categories {
  margin-left: 20px;
}

.navbar-category {
  margin: 0 4px;
}
.navbar-category:hover {
  margin: 0 4px;
  cursor: pointer;
  text-decoration: underline;
}

.navbar-category-separator {
  color: #5e5e5e;
  margin: 0 4px;
}
