.new-post {
  
}

.new-post-collapsed {
  float: right;
}

.new-post-expanded {
  max-width: 600px;
  margin: 40px auto 20px;
  background-color: #f0f0f0;
  padding: 0 20px 20px 20px;
  border: solid 1px #d8d8d8;
}

.separator {
  border: solid 1px #ececec;
}

.new-post-headline {
  color: #54546b;
}