.post {
  padding: 10px;
  background-color: #ececec;
  color: #222222;
}

.post:hover {
  border-left: solid 4px grey;
  margin-left: -4px;
  background-color: #fdfdfd;
}

.post-row {
  display: flex;
}

.post-content {
  margin: 0 15px;
  width: 100%;
}
