.rating {
  text-align: center;
  padding: 2px 8px 2px 8px;
}

.rating-value {
  font-size: 1.2em;
  margin: auto;
  margin-top: 0px;
  margin-bottom: -4px;
}

.vote:hover {
  color: black !important;
  cursor: pointer;
}
