.navbar-user {
  display: flex;
  float: right;
  margin-right: 8vw;
  margin-top: 1.4px;
}

.navbar-user-editmode {
  background-color: rgba(255,255,255,0);
}

.navbar-user-actions {
  display: table;
  font-size: small;
}

.navbar-user-editcontrol {
  padding: 0 4px;
}

.navbar-user-action:hover {
  cursor: pointer;
}
